## Fase 2: Transformación de los datos.

In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Libreria Regex para buscar patrones
import re

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [11]:
#apertura del archivo
df_info= pd.read_csv("hr_raw_data.csv", index_col = 0)

pd.set_option('display.max_columns', None)

# 5 primeras filas del data frame

df_info.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,employeecount,employeenumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NUMCOMPANIESWORKED,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TOTALWORKINGYEARS,TrainingTimesLastYear,WORKLIFEBALANCE,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YEARSWITHCURRMANAGER,SameAsMonthlyIncome,DateBirth,Salary,RoleDepartament,NUMBERCHILDREN,RemoteWork
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0

### A. MODIFICACION DE COLUMNAS

1. nombre columnas en minusculas:
- "employeecount"
- "employeenumber"

2. nombre columnas de una sola palabra capitalizada que hay que pasar a minusculas
- 'Age'
- 'Attrition'
- 'Department'
- 'Education'
- 'Gender'
- 'Salary'
- 'RemoteWork'

3. nombre de columnas en mayusculas que hay que pasar a minusculas  despues separar las palabras con un guion bajo
- NUMCOMPANIESWORKED
- WORKLIFEBALANCE
- TOTALWORKINGYEARS
- WORKLIFEBALANCE
- YEARSWITHCURRMANAGER
- 'NUMBERCHILDREN'


4. nombre de columnas con alguna mayuscula para pasar a minusculas despues separar las palabras
- 'BusinessTravel':
- 'DailyRate':
- 'DistanceFromHome':
- 'EducationField':
- 'EnvironmentSatisfaction':
- 'HourlyRate':
- 'JobInvolvement':
- 'JobLevel':
- 'JobRole':'
- JobSatisfaction':
- 'MaritalStatus':'MonthlyIncome','MonthlyRate',
- 'Over18','OverTime', 'PercentSalaryHike','PerformanceRating',
- 'RelationshipSatisfaction','StandardHours','StockOptionLevel',
- 'TrainingTimesLastYear',
- 'YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion',
- 'SameAsMonthlyIncome','DateBirth',
- 'RoleDepartament'

Podemos ver que hay variedad de formatos en la sintaxis de los nombres de las columnas lo mas operativo es unificarlos todos con el mismo formato que el grupo 4 y despues en una unica funcion transformamos todos a la vez, asi no hay que ir de uno en uno.

Vemos un patron comun y es que en el grupo 2 y 4 hay nombres capitalizados 
el grupo  1 y 3 no comparten nada por lo tanto vamos a cambiar manualmente estos 2 grupos para igualarlos en el formato al 4

In [12]:
# Esta función utiliza el método rename() de Pandas para renombrar columnas específicas de un DataFrame. 
# Creamos un diccionario (renombrar_columnas) que indica los nombres actuales de las columnas como claves y los nuevos nombres como valores.
renombrar_columnas = {
        'TOTALWORKINGYEARS': 'TotalWorkingYears',
        'employeenumber': 'EmployeeNumber',
        'NUMCOMPANIESWORKED': 'NumCompaniesWorked',
        'WORKLIFEBALANCE': 'WorkLifeBalance',
        'YEARSWITHCURRMANAGER': 'YearsWithCurrManager',
        'NUMBERCHILDREN': 'NumberChildren',
        'employeecount': 'EmployeeCount'
    }
df_info.rename(columns=renombrar_columnas, inplace=True)

In [13]:
df_info.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'SameAsMonthlyIncome', 'DateBirth', 'Salary',
       'RoleDepartament', 'NumberChildren', 'RemoteWork'],
      dtype='object')

In [14]:
# Esta función Convierte un string en formato CamelCase (donde las palabras están pegadas y la primera letra de cada palabra está en mayúscula, excepto la primera palabra) 
# en snake_case (donde las palabras están separadas por guiones bajos y todas las letras están en minúsculas).

#Función camel_to_snake(name):

def camel_to_snake(name):
    # Insert underscore between lowercase and uppercase characters and convert to lowercase
    return re.sub('([a-z])([A-Z])', r'\1_\2', name).lower()

df_info.columns = [camel_to_snake(col) for col in df_info.columns]

df_info.columns

Index(['age', 'attrition', 'business_travel', 'daily_rate', 'department',
       'distance_from_home', 'education', 'education_field', 'employee_count',
       'employee_number', 'environment_satisfaction', 'gender', 'hourly_rate',
       'job_involvement', 'job_level', 'job_role', 'job_satisfaction',
       'marital_status', 'monthly_income', 'monthly_rate',
       'num_companies_worked', 'over18', 'over_time', 'percent_salary_hike',
       'performance_rating', 'relationship_satisfaction', 'standard_hours',
       'stock_option_level', 'total_working_years', 'training_times_last_year',
       'work_life_balance', 'years_at_company', 'years_in_current_role',
       'years_since_last_promotion', 'years_with_curr_manager',
       'same_as_monthly_income', 'date_birth', 'salary', 'role_departament',
       'number_children', 'remote_work'],
      dtype='object')

In [15]:
df_info.head(2)

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1

In [5]:
df_info.to_csv('HR_01.csv', index= False)

NameError: name 'df_info' is not defined

In [17]:
df_info.head(2)

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1

In [2]:
df_transformacion= pd.read_csv("HR_01.csv", index_col = None)
df_transformacion_copy = df_transformacion.copy()

In [86]:
df_transformacion_copy.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,NaN,"684,0$",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000$,NaN,NaN,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000$,NaN,NaN,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000$,ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000$,NaN,NaN,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000$,NaN,NaN,0

### **A. MODIFICACIÓN DE TIPO DE DATO**

**A.1. TRANSFORMACIONES EN TIPOS DE DATOS POR VARIABLES**

In [67]:
df_transformacion_copy.dtypes

age                            object
attrition                      object
business_travel                object
daily_rate                     object
department                     object
distance_from_home              int64
education                       int64
education_field                object
employee_count                  int64
employee_number                object
environment_satisfaction        int64
gender                          int64
hourly_rate                    object
job_involvement                 int64
job_level                       int64
job_role                       object
job_satisfaction                int64
marital_status                 object
monthly_income                 object
monthly_rate                    int64
num_companies_worked            int64
over18                         object
over_time                      object
percent_salary_hike             int64
performance_rating             object
relationship_satisfaction       int64
standard_hours                 object
stock_option_level              int64
total_working_years            object
training_times_last_year        int64
work_life_balance              object
years_at_company                int64
years_in_current_role          object
years_since_last_promotion      int64
years_with_curr_manager         int64
same_as_monthly_income         object
date_birth                      int64
salary                         object
role_departament               object
number_children               float64
remote_work                    object
dtype: object

In [3]:
# Entero a float : monthly_rate

df_transformacion_copy["monthly_rate"]=df_transformacion_copy["monthly_rate"].astype(float)
df_transformacion_copy["monthly_rate"].dtypes

dtype('float64')

In [4]:
# Entero a object : gender
df_transformacion_copy["gender"]=df_transformacion_copy["gender"].astype(object)
df_transformacion_copy["gender"].dtypes

dtype('O')

In [5]:
# Object quitar caracter especial "$": "daily_rate" "salary"

columnas1 = ["daily_rate","salary"]

def cambiar_simbolo(columnas): 
    try:
        return columnas.str.replace("$","")
    except:
        return np.nan

for columna in columnas1:
    df_transformacion_copy[columna] = cambiar_simbolo(df_transformacion_copy[columna])

df_transformacion_copy.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,NaN,"684,0",NaN,6,3,NaN,1,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462.0,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1000000000,NaN,NaN,Yes
1,52,No,NaN,"699,0",NaN,1,4,Life Sciences,1,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678.0,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1000000000,NaN,NaN,1
2,42,No,travel_rarely,"532,0",Research & Development,4,2,Technical Degree,1,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933.0,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1000000000,ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,"359,0",NaN,2,4,Medical,1,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703.0,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1000000000,NaN,NaN,False
4,46,No,NaN,"1319,0",NaN,3,3,Technical Degree,1,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739.0,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1000000000,NaN,NaN,0

In [6]:
# Object a float :"hourly_rate","monthly_income","standard_hours"

columnas_a_float = ["daily_rate","hourly_rate","monthly_income","standard_hours","salary"]

def cambiar_object_float(columnas):
    try:
        return columnas.str.replace(',', '.').astype(float)
    except:
        return np.nan

for columna in columnas_a_float:
    df_transformacion_copy[columna] = cambiar_object_float(df_transformacion_copy[columna])


df_transformacion_copy[columnas_a_float].dtypes

daily_rate        float64
hourly_rate       float64
monthly_income    float64
standard_hours    float64
salary            float64
dtype: object

In [91]:
df_transformacion_copy.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,NaN,684.0,NaN,6,3,NaN,1,"162,0",1,0,NaN,3,5,resEArch DIREcToR,3,NaN,19537.0,6462.0,7,Y,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1.000000e+09,NaN,NaN,Yes
1,52,No,NaN,699.0,NaN,1,4,Life Sciences,1,"259,0",3,0,NaN,2,5,ManAGeR,3,NaN,19999.0,5678.0,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1.000000e+09,NaN,NaN,1
2,42,No,travel_rarely,532.0,Research & Development,4,2,Technical Degree,1,"319,0",3,0,NaN,3,5,ManaGER,4,Married,19232.0,4933.0,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,1.000000e+09,ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,359.0,NaN,2,4,Medical,1,NaN,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,17169.0,26703.0,3,Y,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1.000000e+09,NaN,NaN,False
4,46,No,NaN,1319.0,NaN,3,3,Technical Degree,1,NaN,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739.0,2,Y,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,NaN,1977,1.000000e+09,NaN,NaN,0

**A.2. HOMOGENEIZACIÓN DATOS**

In [7]:
# Comprobar los valores únicos de las variables "age", "remote_work", "over18"

print(f'Analizar los valores únicos de las variables:\n-Variable "age":\n{df_transformacion_copy["age"].unique()}\n-Variable "remote_work":\n{df_transformacion_copy["remote_work"].unique()}\n-Variable "over18":\n{df_transformacion_copy["over18"].unique()}')

Analizar los valores únicos de las variables:
-Variable "age":
['51' '52' '42' '47' '46' '48' '59' '41' '56' '38' '55' '40' '58' '35'
 '45' '33' '36' '34' 'forty-seven' '53' '43' '60' '32' '37' '49' '39' '50'
 '44' '30' 'fifty-eight' '29' '31' '54' '57' '27' 'thirty-six' '28' '26'
 'fifty-five' '25' 'fifty-two' 'thirty-one' '24' 'thirty' '23' '22' '21'
 '20' 'twenty-six' '19' 'thirty-seven' '18' 'thirty-two' 'twenty-four']
-Variable "remote_work":
['Yes' '1' 'False' '0' 'True']
-Variable "over18":
['Y' nan]

In [8]:
# Reemplazar los valores para su homogeneización:

dicc_age = {"forty-seven": "47", "fifty-eight": "58", "thirty-six": "36", "fifty-five": "55", "fifty-two": "52", "thirty-one": "31", "thirty": "30", "twenty-six": "26", "thirty-seven": "37", "thirty-two": "32", "twenty-four": "24"}

dicc_remote = {"0": "No", "1": "Yes", "True":"Yes", "False": "No"}

dicc_over18 = {"Y": "Yes"}

def reemplazar_datos(df_transformacion_copy):
    
    df_transformacion_copy["age"] = df_transformacion_copy["age"].replace(dicc_age)

 
    df_transformacion_copy["remote_work"] = df_transformacion_copy["remote_work"].replace(dicc_remote)

 
    df_transformacion_copy["over18"] = df_transformacion_copy["over18"].replace(dicc_over18)

    return df_transformacion_copy

df_transformacion_copy = reemplazar_datos(df_transformacion_copy)

In [94]:
# Comprobar los valores únicos de las variables "age", "remote_work", "over18" después del reemplazo

print(f'Comprobación de la homogeneización de los valores depués del reemplazo:\n-Variable "age":\n{df_transformacion_copy["age"].unique()}\n-Variable "remote_work":\n{df_transformacion_copy["remote_work"].unique()}\n-Variable "over18":\n{df_transformacion_copy["over18"].unique()}')

Comprobación de la homogeneización de los valores depués del reemplazo:
-Variable "age":
['51' '52' '42' '47' '46' '48' '59' '41' '56' '38' '55' '40' '58' '35'
 '45' '33' '36' '34' '53' '43' '60' '32' '37' '49' '39' '50' '44' '30'
 '29' '31' '54' '57' '27' '28' '26' '25' '24' '23' '22' '21' '20' '19'
 '18']
-Variable "remote_work":
['Yes' 'No']
-Variable "over18":
['Yes' nan]

In [9]:
df_transformacion_copy.head(2)

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,NaN,684.0,NaN,6,3,NaN,1,"162,0",1,0,NaN,3,5,resEArch DIREcToR,3,NaN,19537.0,6462.0,7,Yes,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,"19537,0",1972,1.000000e+09,NaN,NaN,Yes
1,52,No,NaN,699.0,NaN,1,4,Life Sciences,1,"259,0",3,0,NaN,2,5,ManAGeR,3,NaN,19999.0,5678.0,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,1.000000e+09,NaN,NaN,Yes

In [10]:
# Cambio de categóricos 

categoricas = ["age","employee_number", "performance_rating", "total_working_years", "work_life_balance", "years_in_current_role"]
df_transformacion_copy[categoricas].dtypes

age                      object
employee_number          object
performance_rating       object
total_working_years      object
work_life_balance        object
years_in_current_role    object
dtype: object

In [11]:
def cambiar_comas_obj(columnas):
    try:
        return columnas.str.replace(',', '.')
    except:
        return np.nan

for columna in categoricas:
    df_transformacion_copy[columna] = cambiar_comas_obj(df_transformacion_copy[columna])


df_transformacion_copy[categoricas].dtypes

age                      object
employee_number          object
performance_rating       object
total_working_years      object
work_life_balance        object
years_in_current_role    object
dtype: object

In [12]:
# Convertir age a int
df_transformacion_copy['age'] = df_transformacion_copy['age'].astype(int)

# Convertir categoricas con nulos a float

categoricas1 = ["employee_number", "performance_rating", "total_working_years", "work_life_balance", "years_in_current_role"]

df_transformacion_copy[categoricas1] = df_transformacion_copy[categoricas1].astype(float)


# Visualizamos los primeros registros
df_transformacion_copy.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,NaN,684.0,NaN,6,3,NaN,1,162.0,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,19537.0,6462.0,7,Yes,No,13,3.0,3,NaN,0,NaN,5,3.0,20,NaN,15,15,"19537,0",1972,1.000000e+09,NaN,NaN,Yes
1,52,No,NaN,699.0,NaN,1,4,Life Sciences,1,259.0,3,0,NaN,2,5,ManAGeR,3,NaN,19999.0,5678.0,0,NaN,NaN,14,3.0,1,NaN,1,34.0,5,3.0,33,NaN,11,9,"19999,0",1971,1.000000e+09,NaN,NaN,Yes
2,42,No,travel_rarely,532.0,Research & Development,4,2,Technical Degree,1,319.0,3,0,NaN,3,5,ManaGER,4,Married,19232.0,4933.0,1,NaN,No,11,3.0,4,NaN,0,22.0,3,NaN,22,NaN,11,15,"19232,0",1981,1.000000e+09,ManaGER - Research & Development,NaN,Yes
3,47,No,travel_rarely,359.0,NaN,2,4,Medical,1,NaN,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,17169.0,26703.0,3,Yes,NaN,19,3.0,2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1.000000e+09,NaN,NaN,No
4,46,No,NaN,1319.0,NaN,3,3,Technical Degree,1,NaN,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739.0,2,Yes,No,12,3.0,4,NaN,1,NaN,5,3.0,19,NaN,2,8,NaN,1977,1.000000e+09,NaN,NaN,No

In [13]:
#Comprobación
df_transformacion_copy[categoricas].dtypes

age                        int64
employee_number          float64
performance_rating       float64
total_working_years      float64
work_life_balance        float64
years_in_current_role    float64
dtype: object

**A.3. ELIMINACIÓN CARACTERES ESPECIALES**

In [33]:
df_transformacion_copy1 = df_transformacion_copy.copy()

In [34]:
print('Valores unicos de business_travel',df_transformacion_copy["business_travel"].unique())
print('Total nulos de business_travel',df_transformacion_copy1["business_travel"].isnull().sum())

Valores unicos de business_travel [nan 'travel_rarely' 'travel_frequently' 'non-travel']
Total nulos de business_travel 772

In [35]:

distribucion_nulos= display(df_transformacion_copy1["business_travel"].value_counts() / df_transformacion_copy.shape[0])

business_travel
travel_rarely        0.363073
travel_frequently    0.102230
non-travel           0.056382
Name: count, dtype: float64

En bussines travel no hay ningún valor dominante por lo que se usará 'Unknown' para gestionar los nulos

In [36]:
df_transformacion_copy1["business_travel"] = df_transformacion_copy1["business_travel"].fillna("Unknown")


print("Total nulos:",df_transformacion_copy1["business_travel"].isnull().sum())
print('Valores unicos de business_travel',df_transformacion_copy1["business_travel"].unique())

Total nulos: 0
Valores unicos de business_travel ['Unknown' 'travel_rarely' 'travel_frequently' 'non-travel']

In [37]:
# Caracteres especiales datos business_travel

# Homogeneización de datos quitamos "-" y "_"

df_transformacion_copy1['business_travel'] = df_transformacion_copy1['business_travel'].str.replace(r'[-_]', ' ', regex=True)

# Visualizamos los primeros registros
df_transformacion_copy1.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,Unknown,684.0,NaN,6,3,NaN,1,162.0,1,0,NaN,3,5,resEArch DIREcToR,3,NaN,19537.0,6462.0,7,Yes,No,13,3.0,3,NaN,0,NaN,5,3.0,20,NaN,15,15,"19537,0",1972,1.000000e+09,NaN,NaN,Yes
1,52,No,Unknown,699.0,NaN,1,4,Life Sciences,1,259.0,3,0,NaN,2,5,ManAGeR,3,NaN,19999.0,5678.0,0,NaN,NaN,14,3.0,1,NaN,1,34.0,5,3.0,33,NaN,11,9,"19999,0",1971,1.000000e+09,NaN,NaN,Yes
2,42,No,travel rarely,532.0,Research & Development,4,2,Technical Degree,1,319.0,3,0,NaN,3,5,ManaGER,4,Married,19232.0,4933.0,1,NaN,No,11,3.0,4,NaN,0,22.0,3,NaN,22,NaN,11,15,"19232,0",1981,1.000000e+09,ManaGER - Research & Development,NaN,Yes
3,47,No,travel rarely,359.0,NaN,2,4,Medical,1,NaN,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,17169.0,26703.0,3,Yes,NaN,19,3.0,2,NaN,2,NaN,2,NaN,20,NaN,5,6,"17169,0",1976,1.000000e+09,NaN,NaN,No
4,46,No,Unknown,1319.0,NaN,3,3,Technical Degree,1,NaN,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739.0,2,Yes,No,12,3.0,4,NaN,1,NaN,5,3.0,19,NaN,2,8,NaN,1977,1.000000e+09,NaN,NaN,No

In [134]:
print('Valores unicos de daily_rate',df_transformacion_copy["daily_rate"].unique())
print('Total nulos de daily_rate',df_transformacion_copy1["daily_rate"].isnull().sum())
print('Tipo de dato daily_rate',df_transformacion_copy1["daily_rate"].dtypes)

Valores unicos de daily_rate [ 684.  699.  532.  359. 1319.  117. 1435.  635. 1276.  840.  247. 1369.
  201. 1360.  692. 1398.  286. 1402.  819.  884. 1238.  515. 1223.  202.
  928.  607.  266.  429.  589.   nan 1180. 1282.  776.  665.  526. 1034.
 1403. 1499.  580.  859.  263. 1376.  885. 1003. 1321.  394. 1372. 1333.
  228.  737.  823.  667.  301.  573. 1329.  630. 1063. 1017. 1296.  939.
 1355. 1448.  200. 1202.  404.  208.  813.  465. 1189. 1001. 1394.  161.
  288.  682. 1354.  147.  119. 1413.  452.  334. 1132.  982.  480. 1099.
  672. 1379.  583. 1492. 1050.  469.  237. 1440. 1291. 1157. 1336. 1224.
  735. 1389.  638. 1240.  194. 1339.  111. 1469.  470. 1232. 1249.  798.
  549.  570.  541.  164. 1117.  619.  319.  956. 1245. 1397.  527.  213.
  882.  330.  406.  217.  481.  669. 1465.  685. 1062.  177. 1199.  648.
  412.  282.  770.  601.  855.  332. 1326.  748.  405.  790.  971. 1370.
  750.  880.  678. 1179.  350. 1266.  574.  189.  310.  722. 1219.  994.
  721.  853.  427.  852. 1334. 1093.  967.  989. 1195. 1045.  829.  663.
 1300. 1105.  906.  849. 1275. 1218.  422. 1274. 1076. 1207.  430.  933.
 1184.  586.  890.  379. 1425. 1188.  938. 1053.  248.  796.  174.  408.
  977.  536.  135. 1476.  587.  495.  523.  507. 1055. 1445.  218.  447.
 1029.  674.  538.  740. 1234.  170. 1130.  584.  918.  792.  611. 1383.
  867.  706.  728.  311.  556.  937. 1125.  444.  911.  585. 1392. 1005.
 1299.  655.  746.  632.  658. 1467. 1312.  249.  802.  689. 1395. 1436.
 1496. 1480.  313.  894.  290. 1084. 1002. 1242. 1052.  944.  771. 1416.
 1327.  488. 1385.  666. 1315.  442.  950.  691. 1018.  559.  318.  144.
 1171.  143. 1178. 1107.  645. 1485. 1116.  163.  561.  426.  509.  258.
  525.  238.  482.  397.  243.  806. 1442.  929.  827.  703.  294.  314.
  654.  501.  954. 1434.  657.  240.  791.  676.  436.  760.  661. 1085.
  154. 1283.  616.  498.  530.  805.  903. 1229.  566. 1441.  153. 1066.
  145. 1109.  124.  300. 1366.  857. 1204. 1082.  203. 1308.  718.  593.
 1384. 1361. 1146. 1316.  363. 1103.  920.  694. 1429.  531.  621.  604.
  325. 1030.  524.  943. 1009.  817.  930. 1147.  652.  337. 1136.  326.
  377. 1038. 1490. 1246.  224.  441.  898. 1313. 1015. 1387. 1302.  602.
  772.  809.  786.  921.  717.  979.  953.  244.  196.  303. 1092.  261.
 1422. 1137.  511. 1396. 1096. 1169. 1239.  157.  754. 1303.  697.  116.
  557.  582.  704.  613.  419.  477. 1211.  505.  269.  553. 1277.  302.
  975. 1318.  881.  466.  945.  433.  991. 1083.  136.  333. 1462. 1131.
 1023. 1065. 1115. 1479.  304. 1368.  828.  799.  142.  446.  254. 1410.
  883.  121. 1343.  490. 1400. 1332. 1200. 1102. 1328.  548. 1214.  120.
  841. 1033. 1452. 1268.  307.  797.  555. 1377.  210.  483.  575. 1311.
  759.  891.  317.  688.  195.  622.  646.  719. 1012. 1278. 1222. 1231.
  462.  231. 1089. 1262.  439.  528.  647. 1097.  942.  966.  168.  299.
  999. 1498. 1439. 1111. 1174.  172.  401.  866.  571. 1342.  995.  118.
  990.  241. 1470.  492. 1040. 1320.  146. 1153.  185. 1297. 1064. 1351.
  468. 1273. 1141. 1488.  653. 1225. 1217. 1127. 1427.  702.  926.  878.
  896. 1401.  675. 1070.  496.  390. 1220. 1124. 1046.  267.  443. 1287.
 1420.  562.  650.  141.  715.  376.  932.  471.  180. 1265. 1075. 1086.
  152.  974.  788.  192.  150. 1167.  206.  736.  322.  683. 1475.  560.
  115.  888.  671.  567.  148.  581.  371. 1181. 1253.  370. 1194.  572.
  355.  783.  155.  508.  642. 1382. 1037. 1120.  374.  287.  591.  670.
 1346.  103.  673.  705. 1459. 1443. 1142.  664.  432. 1353.  489.  807.
 1280.  957.  542.  216. 1150.  364. 1256.  440.  713.  140.  629.  328.
  472.  905. 1151.  644.  992. 1323.  818. 1431.  976.  832.  916. 1247.
  128. 1158.  996. 1449.  636.  889.  106.  723. 1482.  738. 1192. 1309.
  544.  641.  756.  895. 1261.  329. 1362. 1371.  821. 1381. 1473.  296.
 1349.  986.  413.  988. 1474.  232. 1236. 1112.  204.  913.  810.  693.
  316.  381.  775.  804. 1090.  346.  725.  182.  384. 1325. 1258. 1041.
  625. 1418. 1269.  395.  341.  500. 1454.  617. 1122. 1198.  188.  335.
  461. 1134.  138. 1206.  109.  277.  265.  342. 1186.  769. 1176. 1091.
  618.  970.  984.  793. 1182.  603.  874.  367.  199. 1457. 1421. 1450.
 1212. 1010.  131.  193.  640.  848. 1138.  256.  935.  458.  662.  499.
  949.  383. 1255. 1221.  981. 1495. 1193.  467.  271.  410. 1288. 1108.
  437.  457.  634.  546.  711.  448.  365.  763.  486.  392.  727.  741.
  552.  506. 1456.  160.  897.  600. 1054.  428.  343. 1216.  207.  280.
  414.  836.  592.  219. 1079. 1251. 1168. 1444. 1154.  234.  529. 1322.
  924.  134.  755.  253.  922. 1365.  306. 1271. 1404. 1391. 1464. 1330.
  773.  902.  107.  504. 1358.  824.  594.  734.  766.  431. 1213. 1373.
 1324. 1123.  391.  125. 1357.  626.  132.  871. 1031. 1145.  854. 1411.
  252.  833. 1210. 1463.  812. 1162.  845. 1144.  156.  464. 1305.  983.
  534. 1306. 1094.  558.  959.  782.  362.  268.  167. 1243.  720.  868.
 1252.  781. 1272.  129. 1069.  289.  955.  660.  415.  309.  130.  862.
 1098.  969.  373.  599.  968.  830. 1423.  516.  598.  104.  479.  474.
  264. 1059.  563. 1259.  369.  543.  964.  176.  181.  211.  590.  305.
  478. 1294. 1128.  726.  352. 1172.  605. 1337.  105.]
Total nulos de daily_rate 124
Tipo de dato daily_rate float64

In [131]:
df_transformacion_copy1["daily_rate"].dtypes

dtype('float64')

In [108]:
print('Valores unicos de business_travel',df_transformacion_copy1["business_travel"].unique())

Valores unicos de business_travel [nan]

### **B. IMPUTACIÓN DE NULOS**

**A.3. VARIABLES CON VALORES NULOS**

**1. Columnas float con nulos**

In [57]:
# "employee_number", "performance_rating", "total_working_years", "work_life_balance", "years_in_current_role".

# Lista de las columnas float con nulos:

columnas_float = ["employee_number", "performance_rating", "total_working_years", "work_life_balance", "years_in_current_role"]

1.1. Distribución de las categorías por cada columna

In [58]:
for columna in categoricas:
    print(f"La distribución de las categorías para la columna: {columna}")
    display(df_transformacion_copy[columna].value_counts() / df_transformacion_copy.shape[0]) 
    print("______________________")

La distribución de las categorías para la columna: employee_number

employee_number
482.0     0.001239
530.0     0.001239
507.0     0.001239
517.0     0.001239
522.0     0.001239
523.0     0.001239
525.0     0.001239
526.0     0.001239
544.0     0.001239
501.0     0.001239
725.0     0.001239
724.0     0.001239
722.0     0.001239
721.0     0.001239
717.0     0.001239
710.0     0.001239
502.0     0.001239
495.0     0.001239
747.0     0.001239
440.0     0.001239
734.0     0.001239
733.0     0.001239
728.0     0.001239
423.0     0.001239
424.0     0.001239
433.0     0.001239
447.0     0.001239
1140.0    0.001239
455.0     0.001239
460.0     0.001239
465.0     0.001239
470.0     0.001239
475.0     0.001239
478.0     0.001239
682.0     0.001239
663.0     0.001239
653.0     0.001239
1069.0    0.001239
389.0     0.001239
388.0     0.001239
381.0     0.001239
376.0     0.001239
1044.0    0.001239
1053.0    0.001239
1195.0    0.001239
621.0     0.001239
1185.0    0.001239
1162.0    0.001239
1161.0    0.001239
1160.0    0.001239
1157.0    0.001239
1131.0    0.001239
401.0     0.001239
416.0     0.001239
430.0     0.001239
438.0     0.001239
446.0     0.001239
448.0     0.001239
454.0     0.001239
458.0     0.001239
476.0     0.001239
483.0     0.001239
488.0     0.001239
500.0     0.001239
534.0     0.001239
586.0     0.001239
595.0     0.001239
608.0     0.001239
616.0     0.001239
742.0     0.001239
1135.0    0.001239
762.0     0.001239
1849.0    0.001239
972.0     0.001239
990.0     0.001239
1927.0    0.001239
1911.0    0.001239
1898.0    0.001239
1869.0    0.001239
1821.0    0.001239
966.0     0.001239
1816.0    0.001239
1804.0    0.001239
1797.0    0.001239
783.0     0.001239
1947.0    0.001239
1954.0    0.001239
967.0     0.001239
1778.0    0.001239
956.0     0.001239
569.0     0.001239
374.0     0.001239
927.0     0.001239
913.0     0.001239
842.0     0.001239
823.0     0.001239
809.0     0.001239
1541.0    0.001239
803.0     0.001239
524.0     0.001239
941.0     0.001239
793.0     0.001239
789.0     0.001239
307.0     0.001239
1396.0    0.000620
1392.0    0.000620
1403.0    0.000620
1380.0    0.000620
1371.0    0.000620
1361.0    0.000620
1358.0    0.000620
1405.0    0.000620
1411.0    0.000620
1412.0    0.000620
1415.0    0.000620
1389.0    0.000620
1333.0    0.000620
1436.0    0.000620
1674.0    0.000620
1721.0    0.000620
1702.0    0.000620
1694.0    0.000620
1683.0    0.000620
1682.0    0.000620
1217.0    0.000620
1234.0    0.000620
1286.0    0.000620
1670.0    0.000620
1331.0    0.000620
1662.0    0.000620
1291.0    0.000620
1301.0    0.000620
1303.0    0.000620
1308.0    0.000620
1311.0    0.000620
1317.0    0.000620
1329.0    0.000620
1428.0    0.000620
1467.0    0.000620
1439.0    0.000620
1441.0    0.000620
1587.0    0.000620
1583.0    0.000620
1580.0    0.000620
1576.0    0.000620
1573.0    0.000620
1568.0    0.000620
1560.0    0.000620
1552.0    0.000620
1537.0    0.000620
1516.0    0.000620
1513.0    0.000620
1509.0    0.000620
1507.0    0.000620
1486.0    0.000620
1475.0    0.000620
1592.0    0.000620
1594.0    0.000620
1597.0    0.000620
1655.0    0.000620
1448.0    0.000620
1464.0    0.000620
1466.0    0.000620
1471.0    0.000620
1473.0    0.000620
1657.0    0.000620
1651.0    0.000620
1607.0    0.000620
1648.0    0.000620
1647.0    0.000620
1645.0    0.000620
1644.0    0.000620
1641.0    0.000620
1623.0    0.000620
162.0     0.000620
1022.0    0.000620
1114.0    0.000620
246.0     0.000620
288.0     0.000620
287.0     0.000620
269.0     0.000620
250.0     0.000620
249.0     0.000620
247.0     0.000620
245.0     0.000620
178.0     0.000620
241.0     0.000620
233.0     0.000620
221.0     0.000620
218.0     0.000620
197.0     0.000620
193.0     0.000620
297.0     0.000620
303.0     0.000620
305.0     0.000620
316.0     0.000620
332.0     0.000620
337.0     0.000620
338.0     0.000620
341.0     0.000620
347.0     0.000620
349.0     0.000620
350.0     0.000620
362.0     0.000620
379.0     0.000620
380.0     0.000620
393.0     0.000620
394.0     0.000620
396.0     0.000620
179.0     0.000620
175.0     0.000620
555.0     0.000620
7.0       0.000620
26.0      0.000620
24.0      0.000620
21.0      0.000620
19.0      0.000620
18.0      0.000620
16.0      0.000620
2068.0    0.000620
171.0     0.000620
2053.0    0.000620
2052.0    0.000620
2046.0    0.000620
2044.0    0.000620
2018.0    0.000620
1999.0    0.000620
31.0      0.000620
33.0      0.000620
38.0      0.000620
40.0      0.000620
47.0      0.000620
49.0      0.000620
65.0      0.000620
72.0      0.000620
88.0      0.000620
102.0     0.000620
103.0     0.000620
110.0     0.000620
116.0     0.000620
128.0     0.000620
132.0     0.000620
133.0     0.000620
143.0     0.000620
403.0     0.000620
564.0     0.000620
1108.0    0.000620
896.0     0.000620
939.0     0.000620
930.0     0.000620
925.0     0.000620
922.0     0.000620
916.0     0.000620
902.0     0.000620
893.0     0.000620
847.0     0.000620
888.0     0.000620
885.0     0.000620
881.0     0.000620
874.0     0.000620
872.0     0.000620
859.0     0.000620
975.0     0.000620
991.0     0.000620
995.0     0.000620
1001.0    0.000620
1010.0    0.000620
1017.0    0.000620
1733.0    0.000620
1027.0    0.000620
1028.0    0.000620
1037.0    0.000620
1077.0    0.000620
1084.0    0.000620
1094.0    0.000620
1096.0    0.000620
1099.0    0.000620
1102.0    0.000620
1103.0    0.000620
852.0     0.000620
838.0     0.000620
580.0     0.000620
652.0     0.000620
675.0     0.000620
671.0     0.000620
666.0     0.000620
665.0     0.000620
664.0     0.000620
659.0     0.000620
632.0     0.000620
819.0     0.000620
631.0     0.000620
624.0     0.000620
611.0     0.000620
593.0     0.000620
591.0     0.000620
585.0     0.000620
686.0     0.000620
699.0     0.000620
705.0     0.000620
707.0     0.000620
712.0     0.000620
732.0     0.000620
738.0     0.000620
744.0     0.000620
746.0     0.000620
752.0     0.000620
754.0     0.000620
769.0     0.000620
792.0     0.000620
797.0     0.000620
800.0     0.000620
806.0     0.000620
813.0     0.000620
1722.0    0.000620
1996.0    0.000620
1735.0    0.000620
1260.0    0.000620
945.0     0.000620
951.0     0.000620
952.0     0.000620
954.0     0.000620
959.0     0.000620
986.0     0.000620
994.0     0.000620
1003.0    0.000620
1012.0    0.000620
1029.0    0.000620
1033.0    0.000620
1052.0    0.000620
1056.0    0.000620
1076.0    0.000620
1079.0    0.000620
1081.0    0.000620
1105.0    0.000620
1111.0    0.000620
1113.0    0.000620
1115.0    0.000620
1125.0    0.000620
1156.0    0.000620
1158.0    0.000620
1172.0    0.000620
1190.0    0.000620
1206.0    0.000620
1210.0    0.000620
1242.0    0.000620
1256.0    0.000620
940.0     0.000620
934.0     0.000620
923.0     0.000620
704.0     0.000620
566.0     0.000620
568.0     0.000620
614.0     0.000620
615.0     0.000620
622.0     0.000620
643.0     0.000620
648.0     0.000620
656.0     0.000620
657.0     0.000620
661.0     0.000620
662.0     0.000620
690.0     0.000620
701.0     0.000620
715.0     0.000620
918.0     0.000620
743.0     0.000620
749.0     0.000620
773.0     0.000620
775.0     0.000620
811.0     0.000620
812.0     0.000620
816.0     0.000620
832.0     0.000620
833.0     0.000620
834.0     0.000620
897.0     0.000620
904.0     0.000620
911.0     0.000620
1258.0    0.000620
1263.0    0.000620
1746.0    0.000620
1269.0    0.000620
1744.0    0.000620
1755.0    0.000620
1758.0    0.000620
1761.0    0.000620
1763.0    0.000620
1766.0    0.000620
1783.0    0.000620
1839.0    0.000620
1842.0    0.000620
1847.0    0.000620
1853.0    0.000620
1860.0    0.000620
1865.0    0.000620
1875.0    0.000620
1876.0    0.000620
1893.0    0.000620
1903.0    0.000620
1928.0    0.000620
1933.0    0.000620
1935.0    0.000620
1936.0    0.000620
1938.0    0.000620
1943.0    0.000620
1944.0    0.000620
1961.0    0.000620
1966.0    0.000620
1974.0    0.000620
2012.0    0.000620
2023.0    0.000620
1731.0    0.000620
1724.0    0.000620
1714.0    0.000620
1504.0    0.000620
1270.0    0.000620
1273.0    0.000620
1306.0    0.000620
1364.0    0.000620
1368.0    0.000620
1379.0    0.000620
1427.0    0.000620
1433.0    0.000620
1434.0    0.000620
1458.0    0.000620
1481.0    0.000620
1482.0    0.000620
1494.0    0.000620
1515.0    0.000620
1697.0    0.000620
1525.0    0.000620
1542.0    0.000620
1558.0    0.000620
1564.0    0.000620
1577.0    0.000620
1581.0    0.000620
1591.0    0.000620
1601.0    0.000620
1602.0    0.000620
1624.0    0.000620
1669.0    0.000620
1673.0    0.000620
1678.0    0.000620
556.0     0.000620
518.0     0.000620
514.0     0.000620
508.0     0.000620
2048.0    0.000620
2055.0    0.000620
2060.0    0.000620
2061.0    0.000620
2064.0    0.000620
39.0      0.000620
51.0      0.000620
95.0      0.000620
169.0     0.000620
224.0     0.000620
242.0     0.000620
286.0     0.000620
340.0     0.000620
431.0     0.000620
496.0     0.000620
511.0     0.000620
612.0     0.000620
650.0     0.000620
684.0     0.000620
730.0     0.000620
757.0     0.000620
869.0     0.000620
875.0     0.000620
964.0     0.000620
970.0     0.000620
1006.0    0.000620
1055.0    0.000620
1061.0    0.000620
1107.0    0.000620
2038.0    0.000620
2027.0    0.000620
2010.0    0.000620
1873.0    0.000620
1751.0    0.000620
1753.0    0.000620
1787.0    0.000620
1801.0    0.000620
1813.0    0.000620
1814.0    0.000620
1833.0    0.000620
1834.0    0.000620
1835.0    0.000620
1837.0    0.000620
1844.0    0.000620
1856.0    0.000620
1858.0    0.000620
1883.0    0.000620
2007.0    0.000620
1886.0    0.000620
1905.0    0.000620
1907.0    0.000620
1908.0    0.000620
1922.0    0.000620
1929.0    0.000620
1948.0    0.000620
1972.0    0.000620
1980.0    0.000620
1982.0    0.000620
1992.0    0.000620
1997.0    0.000620
2003.0    0.000620
1180.0    0.000620
1193.0    0.000620
1226.0    0.000620
342.0     0.000620
144.0     0.000620
155.0     0.000620
167.0     0.000620
200.0     0.000620
201.0     0.000620
211.0     0.000620
214.0     0.000620
243.0     0.000620
271.0     0.000620
282.0     0.000620
309.0     0.000620
323.0     0.000620
334.0     0.000620
364.0     0.000620
137.0     0.000620
367.0     0.000620
392.0     0.000620
397.0     0.000620
407.0     0.000620
445.0     0.000620
468.0     0.000620
471.0     0.000620
473.0     0.000620
477.0     0.000620
479.0     0.000620
485.0     0.000620
487.0     0.000620
494.0     0.000620
139.0     0.000620
113.0     0.000620
1254.0    0.000620
1890.0    0.000620
1321.0    0.000620
1465.0    0.000620
1479.0    0.000620
1551.0    0.000620
1555.0    0.000620
1604.0    0.000620
1757.0    0.000620
1760.0    0.000620
1789.0    0.000620
1807.0    0.000620
1812.0    0.000620
1818.0    0.000620
1830.0    0.000620
1939.0    0.000620
106.0     0.000620
1994.0    0.000620
4.0       0.000620
10.0      0.000620
30.0      0.000620
41.0      0.000620
42.0      0.000620
53.0      0.000620
54.0      0.000620
55.0      0.000620
64.0      0.000620
70.0      0.000620
84.0      0.000620
97.0      0.000620
1998.0    0.000620
1349.0    0.000620
1981.0    0.000620
1790.0    0.000620
1423.0    0.000620
1459.0    0.000620
1472.0    0.000620
1485.0    0.000620
1543.0    0.000620
1547.0    0.000620
1553.0    0.000620
1562.0    0.000620
1582.0    0.000620
1606.0    0.000620
1658.0    0.000620
1665.0    0.000620
1737.0    0.000620
1823.0    0.000620
1346.0    0.000620
1857.0    0.000620
1864.0    0.000620
1881.0    0.000620
1888.0    0.000620
1950.0    0.000620
1962.0    0.000620
1975.0    0.000620
1986.0    0.000620
2000.0    0.000620
2.0       0.000620
5.0       0.000620
35.0      0.000620
76.0      0.000620
1356.0    0.000620
1334.0    0.000620
1969.0    0.000620
772.0     0.000620
291.0     0.000620
292.0     0.000620
306.0     0.000620
335.0     0.000620
420.0     0.000620
421.0     0.000620
441.0     0.000620
531.0     0.000620
549.0     0.000620
567.0     0.000620
581.0     0.000620
702.0     0.000620
716.0     0.000620
836.0     0.000620
1324.0    0.000620
840.0     0.000620
844.0     0.000620
867.0     0.000620
889.0     0.000620
924.0     0.000620
976.0     0.000620
992.0     0.000620
1002.0    0.000620
1073.0    0.000620
1138.0    0.000620
1192.0    0.000620
1196.0    0.000620
1315.0    0.000620
98.0      0.000620
120.0     0.000620
147.0     0.000620
1283.0    0.000620
1119.0    0.000620
1126.0    0.000620
1128.0    0.000620
1177.0    0.000620
1182.0    0.000620
1201.0    0.000620
1218.0    0.000620
1220.0    0.000620
1224.0    0.000620
1235.0    0.000620
1237.0    0.000620
1255.0    0.000620
1264.0    0.000620
1293.0    0.000620
154.0     0.000620
1295.0    0.000620
1322.0    0.000620
1344.0    0.000620
1355.0    0.000620
1362.0    0.000620
1369.0    0.000620
1377.0    0.000620
1402.0    0.000620
1408.0    0.000620
1417.0    0.000620
1421.0    0.000620
1422.0    0.000620
1424.0    0.000620
1106.0    0.000620
1101.0    0.000620
1100.0    0.000620
1097.0    0.000620
159.0     0.000620
160.0     0.000620
163.0     0.000620
176.0     0.000620
177.0     0.000620
195.0     0.000620
202.0     0.000620
205.0     0.000620
252.0     0.000620
258.0     0.000620
260.0     0.000620
267.0     0.000620
275.0     0.000620
293.0     0.000620
302.0     0.000620
314.0     0.000620
329.0     0.000620
361.0     0.000620
363.0     0.000620
1013.0    0.000620
1015.0    0.000620
1018.0    0.000620
1034.0    0.000620
1046.0    0.000620
1050.0    0.000620
1074.0    0.000620
1082.0    0.000620
264.0     0.000620
253.0     0.000620
227.0     0.000620
1225.0    0.000620
1527.0    0.000620
1866.0    0.000620
2026.0    0.000620
107.0     0.000620
170.0     0.000620
215.0     0.000620
304.0     0.000620
529.0     0.000620
691.0     0.000620
692.0     0.000620
1005.0    0.000620
1024.0    0.000620
1039.0    0.000620
1375.0    0.000620
1696.0    0.000620
1661.0    0.000620
1668.0    0.000620
1698.0    0.000620
1937.0    0.000620
2017.0    0.000620
117.0     0.000620
131.0     0.000620
153.0     0.000620
899.0     0.000620
1014.0    0.000620
1117.0    0.000620
1238.0    0.000620
1277.0    0.000620
436.0     0.000620
391.0     0.000620
158.0     0.000620
145.0     0.000620
319.0     0.000620
1900.0    0.000620
81.0      0.000620
387.0     0.000620
999.0     0.000620
1035.0    0.000620
58.0      0.000620
558.0     0.000620
825.0     0.000620
1712.0    0.000620
73.0      0.000620
820.0     0.000620
1294.0    0.000620
1774.0    0.000620
1815.0    0.000620
1993.0    0.000620
32.0      0.000620
100.0     0.000620
244.0     0.000620
327.0     0.000620
373.0     0.000620
729.0     0.000620
830.0     0.000620
981.0     0.000620
1042.0    0.000620
1080.0    0.000620
1995.0    0.000620
1666.0    0.000620
1805.0    0.000620
207.0     0.000620
1596.0    0.000620
1278.0    0.000620
1288.0    0.000620
1307.0    0.000620
1336.0    0.000620
1352.0    0.000620
1360.0    0.000620
1419.0    0.000620
1478.0    0.000620
1480.0    0.000620
1489.0    0.000620
1520.0    0.000620
1535.0    0.000620
1586.0    0.000620
1667.0    0.000620
1932.0    0.000620
1701.0    0.000620
1706.0    0.000620
1971.0    0.000620
1976.0    0.000620
1985.0    0.000620
2032.0    0.000620
2056.0    0.000620
57.0      0.000620
78.0      0.000620
104.0     0.000620
118.0     0.000620
121.0     0.000620
125.0     0.000620
1267.0    0.000620
1252.0    0.000620
1184.0    0.000620
1167.0    0.000620
2016.0    0.000620
20.0      0.000620
184.0     0.000620
206.0     0.000620
228.0     0.000620
239.0     0.000620
256.0     0.000620
339.0     0.000620
406.0     0.000620
429.0     0.000620
444.0     0.000620
452.0     0.000620
456.0     0.000620
481.0     0.000620
513.0     0.000620
597.0     0.000620
600.0     0.000620
630.0     0.000620
638.0     0.000620
683.0     0.000620
780.0     0.000620
817.0     0.000620
901.0     0.000620
944.0     0.000620
984.0     0.000620
1088.0    0.000620
1124.0    0.000620
1457.0    0.000620
1460.0    0.000620
1484.0    0.000620
230.0     0.000620
27.0      0.000620
46.0      0.000620
52.0      0.000620
68.0      0.000620
79.0      0.000620
80.0      0.000620
91.0      0.000620
119.0     0.000620
126.0     0.000620
148.0     0.000620
150.0     0.000620
198.0     0.000620
216.0     0.000620
270.0     0.000620
579.0     0.000620
277.0     0.000620
299.0     0.000620
315.0     0.000620
330.0     0.000620
369.0     0.000620
386.0     0.000620
390.0     0.000620
412.0     0.000620
422.0     0.000620
434.0     0.000620
450.0     0.000620
469.0     0.000620
491.0     0.000620
1949.0    0.000620
1941.0    0.000620
1924.0    0.000620
1909.0    0.000620
1280.0    0.000620
1309.0    0.000620
1374.0    0.000620
1390.0    0.000620
1395.0    0.000620
1397.0    0.000620
1409.0    0.000620
1425.0    0.000620
1435.0    0.000620
1445.0    0.000620
1469.0    0.000620
1503.0    0.000620
1534.0    0.000620
1546.0    0.000620
1548.0    0.000620
1598.0    0.000620
1599.0    0.000620
1609.0    0.000620
1638.0    0.000620
1640.0    0.000620
1664.0    0.000620
1684.0    0.000620
1704.0    0.000620
1736.0    0.000620
1782.0    0.000620
1826.0    0.000620
1850.0    0.000620
554.0     0.000620
592.0     0.000620
1202.0    0.000620
1646.0    0.000620
1407.0    0.000620
1420.0    0.000620
1431.0    0.000620
1446.0    0.000620
1477.0    0.000620
1487.0    0.000620
1499.0    0.000620
1533.0    0.000620
1545.0    0.000620
1554.0    0.000620
1563.0    0.000620
1622.0    0.000620
1631.0    0.000620
1659.0    0.000620
599.0     0.000620
1689.0    0.000620
1700.0    0.000620
1739.0    0.000620
1768.0    0.000620
1772.0    0.000620
1792.0    0.000620
1800.0    0.000620
1822.0    0.000620
1854.0    0.000620
1882.0    0.000620
1885.0    0.000620
1931.0    0.000620
1945.0    0.000620
1401.0    0.000620
1387.0    0.000620
259.0     0.000620
1338.0    0.000620
641.0     0.000620
655.0     0.000620
667.0     0.000620
758.0     0.000620
760.0     0.000620
791.0     0.000620
796.0     0.000620
799.0     0.000620
815.0     0.000620
827.0     0.000620
865.0     0.000620
894.0     0.000620
983.0     0.000620
996.0     0.000620
1011.0    0.000620
1019.0    0.000620
1032.0    0.000620
1045.0    0.000620
1049.0    0.000620
1068.0    0.000620
1136.0    0.000620
1179.0    0.000620
1188.0    0.000620
1211.0    0.000620
1228.0    0.000620
1231.0    0.000620
1259.0    0.000620
1245.0    0.000620
1200.0    0.000620
1497.0    0.000620
942.0     0.000620
2062.0    0.000620
28.0      0.000620
62.0      0.000620
199.0     0.000620
343.0     0.000620
351.0     0.000620
428.0     0.000620
464.0     0.000620
731.0     0.000620
764.0     0.000620
851.0     0.000620
903.0     0.000620
905.0     0.000620
1026.0    0.000620
15.0      0.000620
1085.0    0.000620
1109.0    0.000620
1118.0    0.000620
1152.0    0.000620
1350.0    0.000620
1514.0    0.000620
1523.0    0.000620
1539.0    0.000620
1588.0    0.000620
1617.0    0.000620
1719.0    0.000620
1870.0    0.000620
2031.0    0.000620
2035.0    0.000620
2034.0    0.000620
2014.0    0.000620
2009.0    0.000620
1522.0    0.000620
1544.0    0.000620
1572.0    0.000620
1608.0    0.000620
1611.0    0.000620
1612.0    0.000620
1615.0    0.000620
1619.0    0.000620
1635.0    0.000620
1642.0    0.000620
1653.0    0.000620
1691.0    0.000620
1693.0    0.000620
1703.0    0.000620
1727.0    0.000620
1728.0    0.000620
1745.0    0.000620
1754.0    0.000620
1756.0    0.000620
1764.0    0.000620
1934.0    0.000620
1951.0    0.000620
1952.0    0.000620
1965.0    0.000620
1967.0    0.000620
1979.0    0.000620
2008.0    0.000620
2065.0    0.000620
60.0      0.000620
1171.0    0.000620
548.0     0.000620
283.0     0.000620
308.0     0.000620
325.0     0.000620
355.0     0.000620
378.0     0.000620
449.0     0.000620
466.0     0.000620
486.0     0.000620
492.0     0.000620
505.0     0.000620
510.0     0.000620
527.0     0.000620
547.0     0.000620
577.0     0.000620
85.0      0.000620
679.0     0.000620
785.0     0.000620
861.0     0.000620
864.0     0.000620
878.0     0.000620
895.0     0.000620
900.0     0.000620
936.0     0.000620
997.0     0.000620
1048.0    0.000620
1071.0    0.000620
1116.0    0.000620
1132.0    0.000620
262.0     0.000620
240.0     0.000620
231.0     0.000620
226.0     0.000620

______________________
La distribución de las categorías para la columna: performance_rating

performance_rating
3.0    0.746592
4.0    0.132590
Name: count, dtype: float64

______________________
La distribución de las categorías para la columna: total_working_years

total_working_years
10.0    0.089219
8.0     0.053284
6.0     0.052045
9.0     0.042751
5.0     0.040892
7.0     0.034696
4.0     0.033457
1.0     0.032838
12.0    0.021066
3.0     0.019827
14.0    0.018587
13.0    0.018587
11.0    0.017968
15.0    0.017348
16.0    0.017348
20.0    0.017348
18.0    0.016729
21.0    0.014250
17.0    0.013631
2.0     0.013011
22.0    0.011152
19.0    0.010533
24.0    0.008674
23.0    0.008055
28.0    0.008055
26.0    0.004957
0.0     0.004957
29.0    0.003717
36.0    0.003717
25.0    0.003717
33.0    0.003717
37.0    0.003098
27.0    0.003098
31.0    0.002478
30.0    0.001859
32.0    0.001859
35.0    0.001859
40.0    0.001859
34.0    0.001239
38.0    0.000620
Name: count, dtype: float64

______________________
La distribución de las categorías para la columna: work_life_balance

work_life_balance
3.0    0.565675
2.0    0.222429
4.0    0.096035
1.0    0.048947
Name: count, dtype: float64

______________________
La distribución de las categorías para la columna: years_in_current_role

years_in_current_role
2.0     0.006815
7.0     0.003098
0.0     0.002478
4.0     0.001859
1.0     0.001859
11.0    0.001239
6.0     0.001239
3.0     0.001239
13.0    0.000620
12.0    0.000620
Name: count, dtype: float64

______________________

1.2. Divisón de las columnas en dos grupos / tipos:

- Columnas a reemplazar por la moda:

    - PERFORMANCE_RATING (3,0) --> 74 %
    - WORK_LIFE_BALANCE  (3,0) --> 56 %

- Columnas a reemplazar por una categoría / etiqueta nueva:

    - EMPLOYEE_NUMBER
    - TOTAL_WORKING_YEARS
    - YEARS_IN_CURRENT_ROLE

- **Columnas categóricas a reemplazar por la moda:**

In [151]:
# Columnas categóricas con valores nulos: Cambiar de object a entero

columnas_moda = ["performance_rating","total_working_years"]

def reemplazar_moda (df_transformacion_copy, columnas_moda):
    
    for columna in columnas_moda:
        
        moda = df_transformacion_copy[columna].mode()[0]    
        
        df_transformacion_copy[columna] = df_transformacion_copy[columna].fillna(moda)

    return df_transformacion_copy

df_transformacion_copy = reemplazar_moda(df_transformacion_copy, columnas_moda)

df_transformacion_copy[columnas_moda].isnull().sum()

performance_rating     0
total_working_years    0
dtype: int64

In [154]:
df_prueba = df_transformacion_copy.copy()
df_prueba.head()

,age,attrition,business_travel,daily_rate,department,distance_from_home,education,education_field,employee_count,employee_number,environment_satisfaction,gender,hourly_rate,job_involvement,job_level,job_role,job_satisfaction,marital_status,monthly_income,monthly_rate,num_companies_worked,over18,over_time,percent_salary_hike,performance_rating,relationship_satisfaction,standard_hours,stock_option_level,total_working_years,training_times_last_year,work_life_balance,years_at_company,years_in_current_role,years_since_last_promotion,years_with_curr_manager,same_as_monthly_income,date_birth,salary,role_departament,number_children,remote_work
0,51,No,NaN,NaN,NaN,6,3,NaN,1,"162,0",1,0,NaN,3,5,resEArch DIREcToR,3,NaN,NaN,6462.0,7,Yes,No,13,"3,0",3,NaN,0,"10,0",5,"3,0",20,NaN,15,15,"19537,0",1972,NaN,NaN,NaN,Yes
1,52,No,NaN,NaN,NaN,1,4,Life Sciences,1,"259,0",3,0,NaN,2,5,ManAGeR,3,NaN,NaN,5678.0,0,NaN,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,"19999,0",1971,NaN,NaN,NaN,Yes
2,42,No,travel_rarely,NaN,Research & Development,4,2,Technical Degree,1,"319,0",3,0,NaN,3,5,ManaGER,4,Married,NaN,4933.0,1,NaN,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,"19232,0",1981,NaN,ManaGER - Research & Development,NaN,Yes
3,47,No,travel_rarely,NaN,NaN,2,4,Medical,1,NaN,1,1,NaN,3,4,ReseArCH DIrECtOr,3,Married,NaN,26703.0,3,Yes,NaN,19,"3,0",2,NaN,2,"10,0",2,NaN,20,NaN,5,6,"17169,0",1976,NaN,NaN,NaN,No
4,46,No,NaN,NaN,NaN,3,3,Technical Degree,1,NaN,1,1,NaN,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739.0,2,Yes,No,12,"3,0",4,NaN,1,"10,0",5,"3,0",19,NaN,2,8,NaN,1977,NaN,NaN,NaN,No

- **Columnas categóricas a reemplazar por una categoría / etiqueta nueva:**

In [155]:
columnas_etiqueta = ["employee_number"]

def reemplazar_etiqueta(df_prueba, columnas):
    
    for columna in columnas:
        
        df_prueba[columna] = df_prueba[columna].fillna("Unknown")
    
    return df_prueba

df_prueba = reemplazar_etiqueta(df_prueba, columnas_etiqueta)

df_prueba[columnas_etiqueta].isnull().sum()

employee_number    0
dtype: int64