## **FASE 3: DISEÑO, CREACIÓN DE BBDD INSERCIÓN DE DATOS**

- **Librerías**

In [3]:
# importar librerías

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Libreria Regex para buscar patrones
# -----------------------------------------------------------------------
import re

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

# Ajusta el ancho de la consola para evitar truncamientos
# -----------------------------------------------------------------------
pd.set_option("display.width", 1000) 

# Importar librería para la conexión con MySQL
# --------------------------------------------
import mysql.connector
from mysql.connector import errorcode

# Importar otras librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import csv

- **Lectura csv**

In [ ]:
# Lectura del csv:

df_abc = pd.read_csv("nombre.csv", index_col = None)
df_abc.head()

 **A. CONEXIÓN CON SQL**

In [4]:
# Conectar a SQL
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')
# Crear cursor
mycursor = cnx.cursor()

# Crear base de datos
try:
    mycursor.execute("CREATE DATABASE BBDD_ABC_Corporation")
    print(mycursor)
except mysql.connector.Error as err: # verificar si hay errores
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (111)

**B. UBICACIÓN BBDD "BBDD_ABC_Corporation" Y CREACIÓN DE TABLAS CON SUS COLUMNAS**

- **B.1.** TABLA 1: employees

In [ ]:
# Seleccionar la base de datos

try:
    mycursor.execute("USE BBDD_ABC_Corporation")
    print("Base de datos seleccionada correctamente.")
except mysql.connector.Error as err:
    print("Error al seleccionar la base de datos.")
    print("Código de Error:", err.errno)
    print("SQLSTATE:", err.sqlstate)
    print("Mensaje:", err.msg)
    
# Crear tabla 1: "employees"

try:
    mycursor.execute("""
  CREATE TABLE employees (
    employee_number INT PRIMARY KEY,
    age INT,
    gender VARCHAR(10),
    year_birth YEAR,
    marital_status VARCHAR(20),
    education INT,
    education_field VARCHAR(50),
    distance_from_home INT,
    total_working_years INT,                 
    num_companies_worked INT,
    attrition VARCHAR(10)
)  
""")
    
    # Verficar la creación de tabla 1: "employees"
    
    print("Tabla 'employees' creada exitosamente.")
except mysql.connector.Error as err:
    print("Se produjo un error al crear la tabla 'employees'.")
    print("Código de Error:", err.errno)
    print("SQLSTATE:", err.sqlstate)
    print("Mensaje:", err.msg)

- **B.2.** TABLA 2: job_information

In [ ]:

# Seleccionar la base de datos

try:
    mycursor.execute("USE BBDD_ABC_Corporation")
    print("Base de datos seleccionada correctamente.")
except mysql.connector.Error as err:
    print("Error al seleccionar la base de datos.")
    print("Código de Error:", err.errno)
    print("SQLSTATE:", err.sqlstate)
    print("Mensaje:", err.msg)
    
# Crear tabla 2: "job_information"

try:
    mycursor.execute("""
    CREATE TABLE job_information (
    employee_number INT PRIMARY KEY,
    employee_count INT,
    job_role VARCHAR(50),
    department VARCHAR(50),
    job_level INT,
    training_times_last_year INT,
    remote_work VARCHAR(10),
    standard_hours INT,
    over_time VARCHAR(10),
    years_at_company INT,
    years_since_last_promotion INT,
    years_with_curr_manager INT,
    FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
) 
""")
    
    # Verficar la creación de tabla 2: "job_information"
    
    print("Tabla 'job_information' creada exitosamente.")
except mysql.connector.Error as err:
    print("Se produjo un error al crear la tabla 'job_information'.")
    print("Código de Error:", err.errno)
    print("SQLSTATE:", err.sqlstate)
    print("Mensaje:", err.msg)

- **B.3.** TABLA 3: job_compensation

In [ ]:

# Seleccionar la base de datos

try:
    mycursor.execute("USE BBDD_ABC_Corporation")
    print("Base de datos seleccionada correctamente.")
except mysql.connector.Error as err:
    print("Error al seleccionar la base de datos.")
    print("Código de Error:", err.errno)
    print("SQLSTATE:", err.sqlstate)
    print("Mensaje:", err.msg)
    
# Crear tabla 3: "job_compensation"

try:
    mycursor.execute("""
    CREATE TABLE job_compensation (
    employee_number INT PRIMARY KEY,
    daily_rate FLOAT,
    monthly_rate FLOAT,
    monthly_income FLOAT,
    hourly_rate FLOAT,
    percent_salary_hike INT,
    salary FLOAT,
    stock_option_level INT,                         
    FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
)
""")
    
    # Verficar la creación de tabla 3: "job_compensation"
    
    print("Tabla 'job_compensation' creada exitosamente.")
except mysql.connector.Error as err:
    print("Se produjo un error al crear la tabla 'job_compensation'.")
    print("Código de Error:", err.errno)
    print("SQLSTATE:", err.sqlstate)
    print("Mensaje:", err.msg)

- **B.4.** TABLA 4: job_satisfaction

In [ ]:

# Seleccionar la base de datos

try:
    mycursor.execute("USE BBDD_ABC_Corporation")
    print("Base de datos seleccionada correctamente.")
except mysql.connector.Error as err:
    print("Error al seleccionar la base de datos.")
    print("Código de Error:", err.errno)
    print("SQLSTATE:", err.sqlstate)
    print("Mensaje:", err.msg)
    
# Crear tabla 4: "job_satisfaction"

try:
    mycursor.execute("""
    CREATE TABLE job_satisfaction (
    employee_number INT PRIMARY KEY, 
    job_involvement INT,
    performance_rating INT,        
    environment_satisfaction INT,
    relationship_satisfaction INT,
    work_life_balance INT,            
    FOREIGN KEY (employee_number) REFERENCES employees(employee_number)
)
""")
    
    # Verficar la creación de tabla 4: "job_satisfaction"
    
    print("Tabla 'job_satisfaction' creada exitosamente.")
except mysql.connector.Error as err:
    print("Se produjo un error al crear la tabla 'job_satisfaction'.")
    print("Código de Error:", err.errno)
    print("SQLSTATE:", err.sqlstate)
    print("Mensaje:", err.msg)

In [ ]:
# Cerrar el cursor y la conexión a la base de datos
try:
    # Si el cursor está abierto, ciérralo
    if mycursor:
        mycursor.close()
    
    # Si la conexión está abierta, ciérrala
    if cnx:
        cnx.close()
    
    print("Conexión cerrada correctamente.")
except mysql.connector.Error as err:
    print("Error al cerrar la conexión:", err)

**C. INSERCIÓN DE DATOS EN LAS TABLAS**

- **C.1.** TABLA 1: employees

In [ ]:
# Insertar registros dentro de la tabla 1: "employees"

sql = "INSERT INTO employees (employee_number, age, gender, year_birth, marital_status, education, education_field, distance_from_home, total_working_years, num_companies_worked, attrition) VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s) "
val = df_abc

try: 
    mycursor.executemany(sql, val)
    cnx.commit()
    print(mycursor.rowcount, "registros insertados.")

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

- **C.2.** TABLA 2: job_information

- **C.3.** TABLA 3: job_compensation

- **C.4.** TABLA 4: job_satisfaction

- **D. CERRAR CONEXIÓN CON SQL**

In [ ]:
# Cerrar el cursor y la conexión a la base de datos
try:
    # Si el cursor está abierto, cerrarlo
    if mycursor:
        mycursor.close()
    
    # Si la conexión está abierta, cerrarla
    if cnx:
        cnx.close()
    
    print("Conexión cerrada correctamente.")
except mysql.connector.Error as err:
    print("Error al cerrar la conexión:", err)